@using System.Globalization
@model MWC3.Models.Transaction

@{
    ViewBag.Title = "Into the Cellar";
}

<h2>Create In</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Transaction</h4>
        <hr />
        @Html.ValidationSummary(true)
        
        <div style="background-color: dodgerblue; ">
            <fieldset>
                <legend>Transaction</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.TransactionTypeId, "TransactionTypeId", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.TransactionTypeId, (SelectList)this.ViewData["TransactionTypes"])
                        @Html.ValidationMessageFor(model => model.TransactionTypeId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BottleTypeId, "BottleTypeId", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.BottleTypeId, (SelectList)this.ViewData["BottleTypes"])
                        @Html.ValidationMessageFor(model => model.BottleTypeId)
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Quantity)
                        @Html.ValidationMessageFor(model => model.Quantity)
                    </div>
                </div>
                @Html.HiddenFor(model => model.Price)
                <div class="form-group">
                    @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBox("priceInt", "0", new { style = "width: 50px; text-align:right;" }),
                        @Html.TextBox("priceCents", "00", new { style = "width: 20px;" })
                        @*@Html.ValidationMessageFor(model => model.Price)*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { @class = "datepicker" })
                        @*@Html.ValidationMessageFor(model => model.Date)*@
                    </div>
                </div>
            </fieldset>
        </div>

        <div style="background-color: salmon;">
            <fieldset id="wineFieldset">
                <legend>Wine</legend>
                <div class="form-group">
                    @Html.HiddenFor(model => model.WineId)
                    <label class="control-label col-md-2" for="SearchWine">Search</label>
                    <div class="col-md-10">
                        <input type="text" id="SearchWine" data-watermark="search at wine, producer, location" onfocus="this.value=''" />
                        <button id="btAddWine" type="button">Add Wine</button>
                    </div>
                </div>
                <div id="wineForm">
                    <div class="form-group">
                        <label for="wineName" class="control-label col-md-2">Name</label>
                        <div class="col-md-10">
                            <span id="wineName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Type</label>
                        <div class="col-md-10">
                            Colour <span id="wineColor"></span> | Sparkling? <span id="isSparkling"></span> | Fortified? <span id="isFortified"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="grapes" class="control-label col-md-2">Grapes</label>
                        <div class="col-md-10">
                            <span id="grapes"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="producer" class="control-label col-md-2">Producer</label>
                        <div class="col-md-10">
                            <span id="producer"></span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div style="background-color: darkviolet; ">
            <fieldset>
                <legend>Vintage</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Year, (SelectList)this.ViewData["Years"])
                        @Html.ValidationMessageFor(model => model.Year)
                    </div>
                </div>
            </fieldset>
        </div>
        <div style="background-color: gold; ">
            <fieldset>
                <legend>Distributor</legend>
                <div class="form-group">
                    @Html.HiddenFor(model => model.BusinessId)
                    <label class="control-label col-md-2" for="SearchDistributor">Search</label>
                    <div class="col-md-10">
                        <input type="text" id="SearchDistributor" data-watermark="search at name" onfocus="this.value=''" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="distributor" class="control-label col-md-2">Distributor</label>
                    <div class="col-md-10">
                        <span id="distributor"></span>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Wine</h4>
            </div>
            <div class="modal-body">
                <iframe src="/Wine/Create" style="zoom:0.60; width: 100%;" height="400" frameborder="0"></iframe>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="~/Scripts/Transactions/CreateIn.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css" type="text/css" />
}
