@model MWC3.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <h4>Transaction</h4>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BottleType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottleType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Business.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Business.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
    <hr />
    <h4>Wine</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Wine.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wine.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Year)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayName("Producer")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wine.Business.Name)
        </dd>

        <dt></dt>
        <dd>
            @Html.DisplayFor(model => model.Wine.Business.Address)
        </dd>

        <dt>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wine.Business.PostalCode),
            @Html.DisplayFor(model => model.Wine.Business.City)
        </dd>

        <dt></dt>
        <dd>@Html.DisplayFor(model => model.Wine.Business.Country.Name)</dd>
    </dl>
    <hr />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
