@using System.Globalization
@model IEnumerable<MWC3.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Transactions</h2>
<p>
    filter: @Html.DropDownList("transactiontypeId", (SelectList)this.ViewData["TransactionTypes"], "Please Select a type" )
    <span>transactions: @Html.Encode(this.Model.Count().ToString(CultureInfo.InvariantCulture))</span>
</p>
<p>
<p>
    @Html.ActionLink("Create New In", "CreateIn") | @Html.ActionLink("Create New Out", "CreateOut")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Wine")
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alcohol)
            </th>*@
        <th>
            @Html.DisplayName("Producer")
        </th>
        <th>
            @Html.DisplayName("Distributor")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottleType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Wine.Name)
                <br />
                @Html.DisplayFor(modelItem => item.Year)
                <br />
                @Html.DisplayFor(modelItem => item.Alcohol)&nbsp;&#37;
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wine.Business.Name)<br/>
                @Html.DisplayFor(modelItem => item.Wine.Business.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Business.Name)<br/>
                @Html.DisplayFor(modelItem => item.Business.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BottleType.Name)
            </td>
            <td class="number">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td class="currency">&euro;
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })<br/>
                @Html.ActionLink("Details", "Details", new { id = item.Id })<br />
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/Transactions/Index.js"></script>
}