@using System.Threading
@using MWC3.Helpers
@{
    LanguageHelper.SetCurrentCulture(this.Context);
    var userId = string.Empty;
    if (Request.IsAuthenticated)
    {
        userId = UserHelper.GetUserId(User.Identity.Name);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Resources.Shared.Layout.ApplicationName, "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Shared.Layout.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(Resources.Shared.Layout.About, "About", "Home")</li>
                    <li>@Html.ActionLink(Resources.Shared.Layout.Contact, "Contact", "Home")</li>
                    <li>@Html.ActionLink("Cellar", "Index", "Cellar")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">@Resources.Shared.Layout.Administration<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(Resources.Shared.Layout.TransactionTypes, "Index", "TransactionTypes")</li>
                            <li>@Html.ActionLink(Resources.Shared.Layout.Grapes, "Index", "Grape")</li>
                            <li>@Html.ActionLink(Resources.Shared.Layout.Regions, "Index", "Region")</li>
                            <li>@Html.ActionLink(Resources.Shared.Layout.Countries, "Index", "Country")</li>
                            <li>@Html.ActionLink(Resources.Shared.Layout.Bottles, "Index", "BottleType")</li>
                            <li>@Html.ActionLink(Resources.Shared.Layout.Qualifications, "Index", "Qualifiaction")</li>
                            <li>@Html.ActionLink(Resources.Shared.Layout.Businesses, "Index", "Business")</li>
                            <li>@Html.ActionLink(Resources.Shared.Layout.Wines, "Index", "Wine")</li>
                            <li>@Html.ActionLink(Resources.Shared.Layout.Transactions, "Index", "Transaction")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">@Resources.Shared.Layout.Languages<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Eng", "Index", "Language", new { lc = "en", cc = "en-US" }, null)</li>
                            <li>@Html.ActionLink("Ned", "Index", "Language", new { lc = "nl", cc = "nl-NL" }, null)</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="clear: both">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - @Resources.Shared.Layout.ApplicationName (@Thread.CurrentThread.CurrentCulture)
                @if (Request.IsAuthenticated)
                {
                    @userId;
                }
            </p>
            @Html.Hidden("userId", @userId)
        </footer>
    </div>

</body>
</html>
