@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    var userName = User.Identity.GetUserName();
    var userRoles = MWC3.Helpers.UserHelper.GetUserRoles(userName);
    var role = userRoles.First().Role.Name;
    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(Resources.Shared.Layout.Heading + " " + userName + "(" + role + ")" +  "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Shared.LoginPartial.LogOff</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Shared.LoginPartial.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.Shared.LoginPartial.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
