@model HandleErrorInfo


@{
    ViewBag.Title = "ShowError";
}

<h2>Some error occurred</h2>

<div>
    @if (Model != null)
    {
        <text>Error detail:</text>
        <ul>
            <li>Controller: @Model.ControllerName</li>
            <li>Action: @Model.ActionName</li>
            <li>Message: @Model.Exception.Message</li>
            @if (HttpContext.Current.IsDebuggingEnabled)
            {
                <li>Exception.Data: @Model.Exception.Data</li>
                <li>Exception.BaseException: @Model.Exception.GetBaseException()</li>
            }
        </ul>

    }
</div>

