@model MWC3.Models.Transaction

@{
    ViewBag.Title = "Into the Cellar";
}

<div class="row">
    <div class="col-md-6" style="background-color: silver">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Transaction</h4>
                <hr />
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend>Transaction details</legend>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TransactionTypeId, "Type", new { @class = "control-label col-md-2" })
                        <div>
                            @Html.DropDownListFor(model => model.TransactionTypeId, (SelectList)this.ViewData["TransactionTypes"], new { style = "width:auto;" })
                            @Html.ValidationMessageFor(model => model.TransactionTypeId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BottleTypeId, "Bottle", new { @class = "control-label col-md-2" })
                        <div>
                            @Html.DropDownListFor(model => model.BottleTypeId, (SelectList)this.ViewData["BottleTypes"], new { style = "width:auto;" })
                            @Html.ValidationMessageFor(model => model.BottleTypeId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
                        <div>
                            @Html.EditorFor(model => model.Quantity, new { @class = "textBoxx" })
                            @Html.ValidationMessageFor(model => model.Quantity)
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Price)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
                        <div>
                            @Html.TextBox("priceInt", "0", new { style = "width: 50px; text-align:right;" }),
                            @Html.TextBox("priceCents", "00", new { style = "width: 20px;" })
                            @*@Html.ValidationMessageFor(model => model.Price)*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                        <div>
                            @Html.EditorFor(model => model.Date, new { @class = "datepicker" })
                            @*@Html.ValidationMessageFor(model => model.Date)*@
                        </div>
                    </div>
                </fieldset>
                <fieldset id="wineFieldset">
                    <legend>Wine</legend>
                    <div class="form-group">
                        @Html.HiddenFor(model => model.WineId)
                        <dl class="dl-horizontal">
                            <dt>@Resources.Common.Search</dt>
                            <dd>
                                <input type="text" id="SearchWine" data-watermark="search at wine, producer, location" onfocus="this.value=''" />
                                <button id="btAddWine" type="button">Add Wine</button>
                            </dd>
                        </dl>
                    </div>
                    <div id="wineForm">
                        <dl class="dl-horizontal">
                            <dt>@Resources.Common.Wine</dt>
                            <dd id="wineName"></dd>
                            <dt>@Resources.Common.Producer</dt>
                            <dd id="producer"></dd>
                            <dt>@Resources.Common.Color</dt>
                            <dd id="wineColor"></dd>
                            <dt>@Resources.Common.Sparkling?</dt>
                            <dd id="isSparkling"></dd>
                            <dt>@Resources.Common.Fortified?</dt>
                            <dd id="isFortified"></dd>
                            <dt>@Resources.Common.Grapes</dt>
                            <dd id="grapes"></dd>
                        </dl>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Wine details</legend>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-2" })
                        <div>
                            @Html.DropDownListFor(model => model.Year, (SelectList)this.ViewData["Years"], new { @class = "auto-width" })
                            @Html.ValidationMessageFor(model => model.Year)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Alcohol, new { @class = "control-label col-md-2" })
                        <div>
                            @Html.TextBoxFor(model => model.Alcohol, new { @class = "auto-width" })
                            &nbsp;&#37;
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Distributor</legend>
                    <div class="form-group">
                        @Html.HiddenFor(model => model.BusinessId)
                        <label class="control-label col-md-2" for="SearchDistributor">Search</label>
                        <div>
                            <input type="text" id="SearchDistributor" data-watermark="search at name" onfocus="this.value=''" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="distributor" class="control-label col-md-2">Distributor</label>
                        <div>
                            <span id="distributor"></span>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Opmerkingen</legend>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
                        <div>
                            @Html.EditorFor(model => model.Comment)
                            @Html.ValidationMessageFor(model => model.Comment)
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-6" style="background-color: gold">.col-md-6</div>
</div>

@section Scripts {

}
