@using System.Globalization
@model IEnumerable<MWC3.Models.CellarTransactionViewModel>
@{
    var counter = 0;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName(Resources.Common.Wine)
        </th>
        <th>
            @Html.DisplayName(Resources.Common.Producer)
        </th>

    </tr>

    @{
        var firstItem = Model.First();
    }
    <tr>
        <td>
            @Html.DisplayName(firstItem.WineName)
            <br />
            @Html.DisplayName(firstItem.Year.ToString(CultureInfo.InvariantCulture))
            <br />
            @Html.DisplayName(firstItem.Alcohol.ToString(CultureInfo.InvariantCulture))&nbsp;&#37;
        </td>
        <td>
            @Html.DisplayName(firstItem.ProducerName)<br />
            @Html.DisplayName(firstItem.ProducerCity)<br />
            @Html.DisplayName(firstItem.ProducerCountry)
        </td>
    </tr>
</table>

<h4>In</h4>
<table class="table">
    <tr>
        <th>#</th>
        <th>
            @Html.DisplayName(Resources.Common.Transaction)
        </th>
        <th>
            @Html.DisplayName(Resources.Common.Distributor)
        </th>
        <th>
            @Html.DisplayName(Resources.Common.BottleType)
        </th>
        <th class="number">
            @Html.DisplayName(Resources.Common.Quantity)
        </th>
        <th class ="currency">
            @Html.DisplayName(Resources.Common.Price)
        </th>
        <th class="currency">
            @Html.DisplayName(Resources.Common.TotalPrice)
        </th>
        <th>
            @Html.DisplayName(Resources.Common.Date)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Multiplier > 0)
        {
            counter++;

    <tr>
        <td>
            @counter
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistributorName)<br />
            @Html.DisplayFor(modelItem => item.DistributorCity)<br />
            @Html.DisplayFor(modelItem => item.DistributorCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottleTypeName)
        </td>
        <td class="number">
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td class="currency">
            &euro;
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td class="currency">
            &euro;
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @item.Date.ToShortDateString()
        </td>
    </tr>
        }
    }

</table>

@{
    counter = 0;
}

<h4>Out</h4>
<table class="table">
    <tr>
        <th>#</th>
        <th>
            @Html.DisplayName(Resources.Common.Transaction)
        </th>
        <th>
            @Html.DisplayName(Resources.Common.BottleType)
        </th>
        <th class="number">
            @Html.DisplayName(Resources.Common.Quantity)
        </th>
        <th class="currency">
            @Html.DisplayName(Resources.Common.Price)
        </th>
        <th class="currency">
            @Html.DisplayName(Resources.Common.TotalPrice)
        </th>
        <th>
            @Html.DisplayName(Resources.Common.Date)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Multiplier < 0)
        {
            counter++;

            <tr>
                <td>
                    @counter
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BottleTypeName)
                </td>
                <td class="number">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="currency">
                    &euro;
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="currency">
                    &euro;
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
            </tr>
        }
    }

</table>

<a href="#" onclick="Load.CurrentWines()">Back to List</a>