@model MWC3.Models.Transaction

@{
    ViewBag.Title = "Transaction details";
}

<div>
    <hr />
    <h4>@Resources.Common.Transaction</h4>

    <dl class="dl-horizontal">
        <dt>
            @Resources.Common.BottleType
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottleType.Name)
        </dd>

        <dt>
            @Resources.Common.Distributor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Business.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType.Name)
        </dd>

        <dt>
            @Resources.Common.Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Resources.Common.Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Resources.Common.Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Resources.Common.Comment
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
    <hr />
    <h4>@Resources.Common.Wine</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Wine.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wine.Name)
        </dd>

        <dt>
            @Resources.Common.Year
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Resources.Common.Alcohol
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alcohol)&nbsp;&#37;
        </dd>


        <dt>
            @Resources.Common.Producer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wine.Business.Name)
        </dd>

        <dt></dt>
        <dd>
            @Html.DisplayFor(model => model.Wine.Business.Address)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Wine.Business.PostalCode),
            @Html.DisplayFor(model => model.Wine.Business.City)
        </dd>

        <dt>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wine.Business.Country.Name)
        </dd>


        <dt></dt>
        <dd>@Html.DisplayFor(model => model.Wine.Business.Country.Name)</dd>
    </dl>
    <hr />
</div>

<p>
    @if (Model.TransactionType.Multiplier > 0)
    {
        <a href="#" onclick="LoadPartialView.TransactionsIn()">Back to List</a>
    }
    else
    {
        <a href="#" onclick="LoadPartialView.TransactionsOut()">Back to List</a>
    }
</p>

