@model MWC3.Models.Wine

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Wine</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegionId, "RegionId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RegionId", String.Empty)
                @Html.ValidationMessageFor(model => model.RegionId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WineColorId, "WineColorId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("WineColorId", String.Empty)
                @Html.ValidationMessageFor(model => model.WineColorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryId, "CountryId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CountryId", String.Empty)
                @Html.ValidationMessageFor(model => model.CountryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QualificationId, "QualificationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("QualificationId", String.Empty)
                @Html.ValidationMessageFor(model => model.QualificationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BusinessId, "BusinessId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BusinessId", String.Empty)
                @Html.ValidationMessageFor(model => model.BusinessId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsSparkling, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsSparkling)
                @Html.ValidationMessageFor(model => model.IsSparkling)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsFortified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsFortified)
                @Html.ValidationMessageFor(model => model.IsFortified)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddedBy)
                @Html.ValidationMessageFor(model => model.AddedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeStamp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeStamp)
                @Html.ValidationMessageFor(model => model.TimeStamp)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
